@import "/onlineInterviews/components/general.css";

/* termsofuse page */

/* termsofuse section */
.termsofuse{
    position: relative;
}
.termsofuse .content h1{
    font-size: 50px;
    font-weight: 700;
    position: relative;
    display: inline-block;
    color: #4a4c67;
}

.termsofuse .content h1:after{
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translatex(-50%);
    width:83%;
    height: 7.5px;
    background-color: #4a4c67;
}

.termsofuse .content h2 {
    font-size: 30px;
    margin-top: 12px;
    font-weight: 700;
    color: #4a4c67;
}
/* end termsofuse section */

/* termsofuse-content section */

.termsofuse-content .content p {
    font-size: 60px;
    font-weight: 700;
    color: #4a4c67;
}

.button {
    width: 100%;
    background:rgb(197, 243, 235);
    border: 2px solid;
    color:black;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
    margin: 12px;
    position: relative;
}
section {
    background-image: url(/static/images/greenbackground.png)

}

.disabled{
    opacity: 0.5;
    pointer-events: none;
}


